{% extends 'base.html.twig' %}

{% block body %}
    <h3>Welcome@ {{ name }}</h3>
    <p>Click on the following link to activate your account </p>
    <p>
        <a href="{{ url }}">{{ url }}</a>
    </p>
{% endblock %}
