{% extends 'base.html.twig' %}

{% block body %}
    <h3>Do you forgot your password?</h3>
    <p>Click on the following link to reset your password</p>
    <p>
        <a href="{{ url }}">{{ url }}</a>
    </p>
{% endblock %}
